
#app {
  .header {
    .header-row {
      .header-secondary {
        .alarm-logo-css {
          padding: 0 1rem;
          cursor: pointer;

          .ant-scroll-number-only > p {
            height: 18px;
          }
        }
      }
    }
  }
}

.header-logo-pic {
  height: 3rem;
}
